.profile {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.description > img {
  width: 150px;
  margin-bottom: 30px;
  border: 1px solid #adadac;
  border-radius: 50%;
}

.username {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.tag {
  margin-bottom: 10px;
}

.tag,
.location {
  color: #adadac;
}

.stats {
  display: flex;
  border-top: 1px solid #adadac;
  background-color: rgb(215, 219, 251);
}

.stats > li {
  padding-top: 20px;
  padding-bottom: 20px;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.stats > li:not(:last-child) {
  border-right: 1px solid #adadac;
}

.label {
  text-transform: capitalize;
  color: #adadac;
}

.quantity {
  font-weight: 700;
}
